{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

{% if category %}
  {% if object_list %}
  <h2>{{ category.name }}</h2>
   <table  class="table table-striped ">
    <thead>
      <tr>
       <th></th><th>Имя</th><th>Цена</th><th>Описание</th>
      </tr>
    </thead>
    <tbody>
    {% for product in object_list %}
      <tr>
       <td>{{ forloop.counter }}</td>
       <td class="intro-text">
         <a href="{% url 'products:product_detail' product.category.slug product.slug %}">
           {{ product.name }}</a></td>
       <td>{{ product.price }}</td>
       <td>{{ product.description }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p><br />Пока нет продуктов этой категорий</p>
  {% endif %}
{% else %}
  <p><br />Категория не найдена</p>
{% endif %}

{% endblock content %}
